:root {
  --white-color: white;
  --black-color: black;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}
